.order-div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.order-div form input {
    margin: auto;
    width: 75%;
    margin-bottom: 10px;
}

.order-div form textarea{
    margin: auto;
    width: 75%;
    margin-bottom: 10px;
}