.footer-bg {
    background-color: #263238;
}

#footer-img {
    /* height: 120px; */
    width: 120px;
}

.footer-div1 * {
    color: white;
    font-family: cursive;
}

.icon-ul {
    list-style: none;
}

.icon-ul li {
    text-align: left;
    display: inline-block;
    padding-right: 5px;
    margin-right: 8px;
}

.icon-ul li * {
    color: white;
    text-align: left;
}

.icon-ul li:hover * {
    color: #CD5C5C;
    cursor: pointer;
}

.list-style {
    list-style-type: none;
}

.list-style li {
    list-style-type: none;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans',
        'sans-serif';
}

.list-style li:hover {
    color: rgba(218, 165, 32, 0.63);
    cursor: pointer;
}

#footer-para {
    margin: 5px 10px;
    color: white;
    font-size: 1.2rem;
    font-family: cursive;
}