.div-height {
    height: 400px;
    
}
.image #zoom-In figure>img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.image #zoom-In figure:hover>img {
    transform: scale(1.1);
    cursor: pointer;
}
.btn-style{
    padding: 10px 20px;
}